$INCLUDE "base.zone"

{% for record in zone.records|default([]) %}
{%   if record.addresses|default([])|length > 0 %}
{%     for address in record.addresses %}
{{ record.name }} {{ record.ttl|default("") }} IN {{ "A" if (address | ansible.utils.ipv4) else "AAAA" }} {{ address }}
{%     endfor %}
{%   elif record.type == "CNAME" %}
{{ record.name }} {{ record.ttl|default("") }} IN CNAME {{ record.data }}.
{%   elif record.type == "TXT" %}
{{ record.name }} {{ record.ttl|default("") }} IN TXT "{{ record.data }}"
{%   elif record.type == "SRV" %}
{{ record.name }} {{ record.ttl|default("") }} IN SRV {{ record.priority|default(0) }} {{ record.weight|default(100) }} {{ record.port }} {{ record.data }}.
{%   elif record.type == "URI" %}
{{ record.name }} {{ record.ttl|default("") }} IN URI {{ record.priority|default(0) }} {{ record.weight|default(100) }} "{{ record.data }}"
{%   endif %}
{% endfor %}
